@model Product
@{
    ViewData["Title"] = "Редактирование " + Model.Name;
}

<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="Edit3" asp-route-id="@Model.Id" asp-antiforgery="true">
    <div class="row">
        <div class="col-sm-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="sr-only"></label>
                <input asp-for="Name" class="form-control" placeholder="Название товара"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Order" class="sr-only"></label>
                <input asp-for="Order" class="form-control" placeholder="Order" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SectionId" class="sr-only"></label>
                <input asp-for="SectionId" class="form-control" placeholder="SectionId" />
                <span asp-validation-for="SectionId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BrandId" class="sr-only"></label>
                <input asp-for="BrandId" class="form-control" placeholder="BrandId" />
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageUrl" class="sr-only"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="ImageUrl" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="sr-only"></label>
                <input asp-for="Price" class="form-control" placeholder="Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <input class="btn btn-default check_out" type="submit" value="Сохранить" />
        </div>
    </div>
</form>

