@model Lesson_1.Models.Employee
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee</title>
</head>
<body>
    <h1>Сотрудник № @Model.Id</h1>
    <p>@Model.FirstName</p>
    <p>Возраст: @Model.Age</p>
    <a href="~/Home/Employees">Сотрудники</a>
    <a href="~/">Основное представление</a>
</body>
</html>
