
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index-представление</title>
</head>
<body>
    <h1>Hello World</h1>
    <h1>Index - представление</h1>
    <a href="~/Home/SomeAction">Другое представление</a>
</body>
</html>
